<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo white.png" type="image/icon type">
    <title>
        <%=locals.page === "home" ? "Mist Game | Home" : "" %>
        <%=locals.page === "checkout" ? "Mist Game | Checkout" : "" %>
        <%=locals.page === "gamedetail" ? "Mist Game | Game Detail" : "" %>
        <%=locals.page === "mygames" ? "Mist Game | My Games" : "" %>
        <%=locals.page === "shop" ? "Mist Game | Shop" : "" %>
        <%=locals.page === "signin" ? "Mist Game | Sign In" : "" %>
        <%=locals.page === "signup" ? "Mist Game | Sign Up" : "" %>
        <%=locals.page === "trendnow" ? "Mist Game | Trend Now" : "" %>
        <%=locals.page === "userdetail" ? "Mist Game | User Profile" : "" %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css" />
</head>